[core]
    editor = nvim
	pager = delta
[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig
[merge]
    tool = nvim
[mergetool "nvim"]
    cmd = nvim -f -c \"DiffviewOpen\"
[mergetool]
    prompt = false
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    features = catppuccin-frappe
