layout {
    pane size=1 borderless=true {
        plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#89B4FA,bg=#24273A,bold]{session} {tabs}"
            format_space ""
            format_right ""

            mode_normal        "#[fg=#89B4FA,bg=#24273A] 󰋙"
            mode_locked        "#[fg=#89B4FA,bg=#24273A] "
            mode_resize        "#[fg=#89B4FA,bg=#24273A] 󰩨"
            mode_pane          "#[fg=#89B4FA,bg=#24273A] 󰝘"
            mode_tab           "#[fg=#89B4FA,bg=#24273A] 󰓩"
            mode_scroll        "#[fg=#89B4FA,bg=#24273A]  󰓢"
            mode_enter_search  "#[fg=#89B4FA,bg=#24273A]  󱞥"
            mode_search        "#[fg=#89B4FA,bg=#24273A] "
            mode_rename_pane   "#[fg=#89B4FA,bg=#24273A] 󰝘 󰣕"
            mode_rename_tab    "#[fg=#89B4FA,bg=#24273A] 󰓩 󰣕"
            mode_session       "#[fg=#89B4FA,bg=#24273A] "
            mode_move          "#[fg=#89B4FA,bg=#24273A] 󰆾"
            mode_prompt        "#[fg=#89B4FA,bg=#24273A] "
            mode_tmux          "#[fg=#89B4FA,bg=#24273A] "

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "
        }
    }
    pane split_direction="vertical" {
        pane
    }
}
